body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(231, 211, 183);

}

.left-items,
.right-items {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-grow: 1 1 ;

}

.left-items {
    justify-content: flex-start;
    align-items: center;
}

.right-items {
    justify-content: flex-end;
    align-items: center;
}

#Logo {
    color: red;
    background-color: white;
    text-align: center;
    font-size: 50px;
    width: auto;
    height: auto;
    padding: 10px;
    align-self: center;
}

.item-self {
    background-color: white;
    color: blue;
    text-align:center;
    width: 50px;
    height: auto;
    padding: 10px;
    flex-grow: 1 1 ;
    flex-shrink: 1;
}